html,body{
    margin: 0;
}
.el-main{
    padding: 12px !important;
}
.el-footer{
    padding: 0 !important;
    color: #ccc !important;
}
.el-menu{
    border: none !important;
}
img {
    border-style: none;
    vertical-align: middle;
}