#app {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
:root{
    --el-border-color: #dcdfe6;
    --el-border-style: solid;
    --el-font-size-base: 14px !important;
    --el-color-primary: #0076f6 !important;
    --el-header-height: fit-content !important;
    --el-header-padding: 0 !important;
    --el-popover-bg-color: var(--el-bg-color-overlay);
    --el-popover-font-size: var(--el-font-size-base);
    --el-popover-border-color: var(--el-border-color-lighter);
    --el-popover-padding: 12px;
    --el-popover-padding-large: 18px 20px;
    --el-popover-title-font-size: 16px;
    --el-popover-title-text-color: var(--el-text-color-primary);
    --el-popover-border-radius: 4px;
    --t-bg-hover: #f7fbff;
    --t-bg-active: #e5f2fe;
    --sa-font: #595959;
    --sa-subfont: #8c8c8c;
    --sa-border: #d9d9d9;
    --sa-space: #f3f3f3;
    --sa-place: #bfbfbf;
    --sa-bg-assist-1: #e7e7ea;
    --sa-title: #262626;
    --sa-table-header-bg: #f5f5f5;
    --sa-background-assist: #fdfdfd;
    --sa-background-hex-active: #dfdafb;
    --sa-background-hex-hover: #f7f7fa;
}
.left-main .el-collapse-item__header {
    padding: 0 12px !important;
}
.el-collapse-item__content {
    padding-bottom: 0 !important;
}
.page-index .page-main {
    --el-main-padding: 0;
}
.sa-header .el-icon,.sa-header .el-icon svg{
    width: 22px;
    height: 22px;
}
.el-form-item__label {
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 0 0 auto;
    font-size: var(--el-form-label-font-size);
    color: var(--el-text-color-regular);
    height: 32px;
    line-height: 32px;
    padding: 0 12px 0 0;
    box-sizing: border-box;
}
.custom-radio-button .el-radio-button__inner {
    padding: 1px 6px;
}
.mr-1 {
    margin-right: 5px !important;
}
.mb-1 {
    margin-bottom: 5px !important;
}
.pl-2 {
    padding-left: 10px !important;
}
.pd0{
    padding: 0 !important;
}
.p24{
    padding: 0 24px;
}

.border-blue{
    border-right-color: #74bdf4 !important;
}
.border-blue-light{
    border-right-color: #72e3fb !important;
}
.border-red{
    border-right-color: #d89192 !important;
}
.border-black{
    border-right-color: #bebebe !important;
}